// Full page Layout
html {
    height: 100%;
}

body {
    height: 100%;

    #app {
        height: auto !important;
        min-height: 100%;
        overflow-x: initial;

        .site-wrapper {
            display: flex;
            flex-direction: column;
            
            main {
                flex-grow: 1;
            }
            
            &.full-height {
                height: 100vh;
            }
        }

    }
}

.top {
    height: 83px;
    background-color: #f9feff;

    @media (min-width: 576px) {
        width: 122px;
    }

    a.logo {
        display: block;
        width: 211px;
        margin: 0 auto 0;
        text-align: center;

        img {
            position: absolute;
            z-index: 300;
            margin-left: -105px;
            width: 153px;

            @media (min-width: 576px) {
                width: 211px;
            }
        }

        &::after {
            content: " ";
            width: 421px;
            height: 135px;
            background: url('/themes/wordplate/assets/images/logo-snipe.png') center no-repeat;
            position: absolute;
            z-index: 299;
            margin: -6px 0 0 -240px;

            @media (min-width: 576px) {
                margin: 38px 0 0 -210px;
            }
        }
    }

    .btn {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 301;
    }
}
  
// Navigation
ul.navbar-nav {
    list-style: none;
    display: flex;

    li {
        a {
            padding: .5rem;
            color: #848484;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 600;
            font-size: 13px;

            &:hover {
                color: #b73838;
            }
        }
    }
}

// Body Content
main {
    position: relative;
    z-index: 1;
    background: #FFF;

    article {
        padding: 2rem 0 0;

        figure {
            img {
                width: 200px;
            }
        }
    }
}

// Main Slider
.slider-container {
    position: relative;
    height: 200px;
    overflow: hidden;
    z-index: 0;

    @media (min-width: 576px){
        height: 350px;
    }

    @media (min-width: 768px){
        height: 450px;
    }

    @media (min-width: 992px){
        height: 650px;
    }
}

// Footer
footer {
    .copyright {
        color: #FFF;
        font-size: 12px;
    }
}